[run]
source = solana_agent
omit =
    */tests/*
    */venv/*
    */site-packages/*
    setup.py
    solana_agent/cli.py
    solana_agent/interfaces/providers/realtime.py  # exclude interface-only module

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    def _.*
    async def _.*
    raise ImportError
    except ImportError:
    def __str__
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

[html]
directory = coverage_html_report