[tool.poetry]
name = "solana-agent"
version = "1.4.4"
description = "Build self-learning AI Agents"
authors = ["Bevan Hunt <bevan@bevanhunt.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/truemagic-coder/solana-agent"
keywords = ["ai", "openai", "ai agents"]
classifiers = [
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
]
packages = [{ include = "solana_agent" }]

[tool.pytest.ini-options]
python_paths = [".", "tests"]

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
openai = "^1.63.2"
pydantic = "^2.10.6"
pymongo = "^4.11.1"
zep-cloud = "^2.4.0"
requests = "^2.32.3"
pinecone = "^6.0.1"
cohere = "^5.13.12"
pandas = "^2.2.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
