[tool.poetry]
name = "solana-agent"
version = "10.0.0"
description = "The Future of Work"
authors = ["Bevan Hunt <bevan@bevanhunt.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/truemagic-coder/solana-agent"
keywords = ["ai", "openai", "ai agents", "agi"]
classifiers = [
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
]
packages = [{ include = "solana_agent" }]

[tool.pytest.ini-options]
python_paths = [".", "tests"]

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
openai = "^1.65.5"
pydantic = "^2.10.6"
pymongo = "^4.11.2"
zep-cloud = "^2.5.0"
zep-python = "^2.0.2"
requests = "^2.32.3"
pinecone = "^6.0.1"
pandas = "^2.2.3"
ntplib = "^0.4.0"
qdrant-client = "^1.13.3"

[tool.poetry.dev-dependencies]
pytest = "^8.3.5"
pytest-cov = "^6.0.0"
pytest-asyncio = "^0.25.3"
uv = "^0.6.5"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
