[tool.poetry]
name = "solana-agent"
version = "27.0.0"
description = "Agentic IQ"
authors = ["Bevan Hunt <bevan@bevanhunt.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/truemagic-coder/solana-agent"
documentation = "https://docs.solana-agent.com"
keywords = ["ai", "openai", "ai agents", "agi"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
]
packages = [{ include = "solana_agent" }]

[tool.pytest.ini-options]
python_paths = [".", "tests"]

[tool.poetry.dependencies]
python = ">=3.12,<4.0"
openai = "^1.72.0"
pydantic = "^2.11.3"
pymongo = "^4.12.0"
zep-cloud = "^2.10.0"
instructor = "^1.7.9"

[tool.poetry.group.dev.dependencies]
pytest = "^8.3.5"
pytest-cov = "^6.1.1"
pytest-asyncio = "^0.26.0"
pytest-mock = "^3.14.0"
pytest-github-actions-annotate-failures = "^0.3.0"
sphinx = "^8.2.3"
sphinx-rtd-theme = "^3.0.2"
myst-parser = "^4.0.1"
sphinx-autobuild = "^2024.10.3"
mongomock = "^4.3.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
