[tool.poetry]
name = "solana-agent"
version = "19.1.0"
description = "Agentic IQ"
authors = ["Bevan Hunt <bevan@bevanhunt.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/truemagic-coder/solana-agent"
keywords = ["ai", "openai", "ai agents", "agi"]
classifiers = [
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
]
packages = [{ include = "solana_agent" }]

[tool.pytest.ini-options]
python_paths = [".", "tests"]

[tool.poetry.dependencies]
python = ">=3.12,<4.0"
openai = "^1.69.0"
pydantic = "^2.11.0"
pymongo = "^4.11.3"
zep-cloud = "^2.8.0"
zep-python = "^2.0.2"

[tool.poetry.dev-dependencies]
pytest = "^8.3.5"
pytest-cov = "^6.0.0"
pytest-asyncio = "^0.26.0"
pytest-github-actions-annotate-failures = "^0.3.0"
sphinx = "^8.2.3"
sphinx-rtd-theme = "^3.0.2"
myst-parser = "^4.0.1"
sphinx-autobuild = "^2024.10.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
